@page
@model DisclaimerModel
@{
    ViewData["Title"] = "Disclaimer";
}
<h1>@ViewData["Title"]</h1>

<p>THIS SOFTWARE IS PROVIDED "AS IS". NO WARRANTIES, EXPRESSED OR IMPLIED, ARE PROVIDED. AUTHORS AND/OR CONTRIBUTORS OF THIS SOFTWARE ARE NOT RESPONSIBLE FOR ANY DAMAGES CAUSED BY THIS SOFTWARE.</p>
